@media all and (orientation:landscape) {
    .container {
        background: #ff8c00;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    .cont-center {
        position: relative;
        background-color: #00aeff;
        border-radius: 24px;

        align-self: center;
        padding: 10px;
        margin: 0px 10px;
    }
    .cont-center > figure{
        margin-top: 20px;
    }

    .icon {
        width: 36%;
    }

    .form-login {
        box-sizing: border-box;
        gap: 30px;
        padding: 20px 50px;
    }

    .cont-data{
        display: grid;
        gap: 18px;
    }

    .cont-insert {
        display: grid;
        gap: 6px;
    }
    .insert {
        border: 0;
        outline: none;
        border-radius: 8px;
        font-size: 18px;
        padding: 8px;
    }

    .btn-secondary {
        background: #f2b705;
        width: 340px;
        padding: 4px;
    }
    .btn-secondary:hover {
      background: #f2cb05;
    }

    .cont-link{
        text-align: center;
    }
    
    .btn-link{
        color: #0d6efd;
        font-family: 'rubik', sans-serif;
        font-size: 26px;
        font-weight: 500;
    }
    .btn-link:hover{
        color: #0a58ca;
    }
}
